# SPDX-License-Identifier: GPL-2.0
#
# clang-format configuration file. Intended for clang-format >= 11.
#
# For more information, see:
#
#   Documentation/process/clang-format.rst
#   https://clang.llvm.org/docs/ClangFormat.html
#   https://clang.llvm.org/docs/ClangFormatStyleOptions.html
#
---
BasedOnStyle: GNU
ColumnLimit: 120
SortIncludes: false
AllowShortIfStatementsOnASingleLine: false
SpaceBeforeParens: ControlStatements
...
